.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
config.R
temp_file/
2023.06.24_#4 Hospital Access/.RData
2023.07.02_#5 Lebaran Traffic/Lebaran Traffic_sim.R
2023.07.02_#5 Lebaran Traffic/.RData
2023.06.24_#4 Hospital Access/Batas_DAS_KLHK.shp